.button-outline {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 50px;
  border-radius: 50px;
  background: transparent;
  color: var(--green);
  border: 1px solid var(--outline);

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 30%;
    margin-right: .4rem;
  }
}
