.navbar {
  display: flex;
  align-items: baseline;
  padding: 2rem 0;

  .mobile {
    display: none;
  }

  .left, .mobile {
    width: 20%;

    .typo {
      cursor: pointer;
      color: var(--white);
      font-size: 1.8rem;

      .dot {
        color: rgba(255,132,0,1);
      }
    }
  }

  .middle {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    border-left: 1px solid var(--outline);

    span {
      cursor: pointer;
      color: var(--lightgrey);
    }

    .active {
      color: var(--white) !important;
    }
  }

  .right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }

  @media only screen and (max-width: 320px) {
    
    .left, .middle, .right {
      display: none;
    }

    .mobile {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .typo {
        font-size: 1.2rem;
      }

      img {
        height: 1.8rem;
      }
    }
  }
}