#header {
  h1 {
    font-size: 5.5rem;
    color: var(--white);
    span {
      background: linear-gradient(153deg, rgba(237,231,0,1) 0%, rgba(255,132,0,1) 50%, rgba(101,0,215,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  p {
    font-size: 1.5rem;
    color: var(--lightgrey);
  }

  .buttons {
    .basic-button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 150px;
      height: 50px;
      border-radius: 50px;
      background: var(--violet);
      color: var(--white);
    }
  }
}