#header {
  h1 {
    font-size: 5.5rem;
    color: var(--white);
    span {
      background: linear-gradient(153deg, #fbe3a5 0%, #da8492 50%,#9391ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  p {
    font-size: 1.5rem;
    color: var(--lightgrey);
    margin: 2rem 0;
  }

  .buttons {
    display: flex;

    .basic-button {
      margin-right: 2rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 150px;
      height: 50px;
      border-radius: 50px;
      background: var(--violet);
      color: var(--white);
    }
  }
}