<div id="home">

  <app-navbar></app-navbar>

  <app-header></app-header>

  <img id="astronaut" class="desktop tablet" src="assets/astronaut.png" alt="Astronaut Image">
  <div class="dot desktop tablet"></div>

  <div class="cards">
    <app-card title="Prebuilt theme"
      description="Drag-n-drop the prebuilt templates into your design and finish it in minutes"
      iconPath="assets/atom.svg" iconAlt="Jewel Icon">
    </app-card>

    <app-card title="Exclusive resources"
      description="There are hundreds of design resources we made exclusively for you. Subscribe now !"
      iconPath="assets/jewel.svg" iconAlt="Jewel Icon">
    </app-card>
  </div>

</div>