#home {
  height: 100%;
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: var(--background);
  padding: 0 15rem;
  display: flex;
  flex-direction: column;

  app-navbar {
    height: 20vh;
  }

  app-header {
    height: 50vh;
  }

  #astronaut {
    z-index: 10;
    position: absolute;
    height: 85%;
    right: 5%;
  }

  .dot {
    position: absolute;
    height: 20rem;
    width: 20rem;
    right: 16rem;
    bottom: 13rem;
    border: 1px solid var(--outline);
    border-radius: 500px;
    background: linear-gradient(8deg, #74b9c4 0%, #aea5c3 50%, #ce95c3 100%);
  }

  .cards {
    height: 30vh;
    display: flex;
    align-items: center;

    app-card {
      padding: 0 4rem;

      &:nth-child(1) {
        border-right: 1px solid var(--outline);
        padding-left: 0;
      }
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    padding: 0 5rem;

    #astronaut {
      height: 75%;
      right: -3%;
      bottom: 9rem;
    }

    .dot {
      height: 15rem;
      width: 15rem;
      right: 8.5rem;
      bottom: 13rem;
    }
  }

  @media only screen and (max-width: 320px) {
    padding: 0 2rem;

    .desktop, .tablet {
      display: none;
    }

    app-navbar {
      height: 18vh;
    }

    app-header {
      height: 40vh;
    }

    .cards {
      height: 40vh;
      flex-direction: column;
      justify-content: center;

      app-card {
        padding: 0;
  
        &:nth-child(1) {
          border-right: none;
        }

        &:nth-child(2) {
          padding: 1.5rem 0 0 0;
        }
      }
    }
  }
}
