@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif !important;
}

#app {
  --background: #1E252F;
  --white: #FFFFFF;
  --lightgrey: rgb(245, 245, 245);
  --darkgrey: grey;
  --violet: #8475E1;
}

html, body, #app {
  min-height: 100% !important;
  background-color: var(--background);
}